<h1>ERG Inventory</h1>
<div>
  <a href="/inventories/new">New Item</a>
</div>
<div>
  <ul>
    <% for (let inventory of inventories){ %>
    <li>
      <a href="/inventories/<%= inventory._id %> ">
        ERG-<%= inventory.serial.toUpperCase() %>
      </a>
    </li>
    <% } %>
  </ul>
</div>
